<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {{ pageTitle }} - Lifetrack Medical System
        {% endblock %}
    </title>
    {% endblock %}
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet" />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/common.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="jumbotron">
                    <div>
                        <h1>Cost Estimator</h1>
                        <p>Use the below form be able to forecast the cost of the infrastructure based on usage and
                            expected growth.</p>
                    </div>
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>
